In [1]:
from texas_gerrymandering_hb4.config import GEN_ELECTION_CSV
import pandas as pd

# Read General Election Results into pandas DataFrame
df = pd.read_csv(GEN_ELECTION_CSV, low_memory=False)

# Only keep the race for U.S. Senate
senate_df = df[df["Office"] == "U.S. Sen"].copy()

# Only keep needed columns
senate_df = senate_df[["VTD", "vtdkeyvalue", "Name", "Party", "Votes"]]

2025-09-07 18:50:59.470 | INFO     | texas_gerrymandering_hb4.config:<module>:11 - PROJ_ROOT path is: /home/aimlexpert/Documents/GitHub/texas-gerrymandering-HB4

,County,FIPS,VTD,cntyvtd,vtdkeyvalue,Office,Name,Party,Incumbent,Votes
0,Anderson,1,0001,10001,1,President,Harris,D,N,325
1,Anderson,1,0002,10002,2,President,Harris,D,N,182
2,Anderson,1,0003,10003,3,President,Harris,D,N,110
3,Anderson,1,0004,10004,4,President,Harris,D,N,109
4,Anderson,1,0005,10005,5,President,Harris,D,N,17
...,...,...,...,...,...,...,...,...,...,...
450352,Zavala,507,0002,5070002,9708,State Rep 80,McLaughlin,R,N,301
450353,Zavala,507,0003,5070003,9709,State Rep 80,McLaughlin,R,N,246
450354,Zavala,507,0004,5070004,9710,State Rep 80,McLaughlin,R,N,297
450355,Zavala,507,001A,507001A,9711,State Rep 80,McLaughlin,R,N,181
450356,Zavala,507,004A,507004A,9712,State Rep 80,McLaughlin,R,N,104